<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="hw.CompilerTools" version="24.0.0" targetFramework="net40" />
  <package id="hw.Helper.Core" version="24.0.3" targetFramework="net40" />
  <package id="hw.ReplaceVariables" version="20.0.0.1" targetFramework="net472" />
  <package id="hw.UnitTest" version="24.0.0" targetFramework="net40" />
  <package id="JetBrains.Annotations" version="2024.2.0" targetFramework="net40" />
  <package id="log4net" version="2.0.17" targetFramework="net40" />
  <package id="NUnit" version="4.2.2" targetFramework="net40" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
</packages>