<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="hw.Helper.Core" version="0.2.3-alpha" targetFramework="net40" developmentDependency="true" />
  <package id="hw.SQLClass" version="0.2.2-alpha" targetFramework="net40" developmentDependency="true" />
  <package id="hw.T4Helper" version="0.2.1-alpha" targetFramework="net40" developmentDependency="true" />
  <package id="hw.TreeView" version="0.2.2-alpha" targetFramework="net40" developmentDependency="true" />
</packages>