<#@ template language="C#" #>
<#@ import namespace="global::HWClassLibrary.Helper" #>
using <#= _context.NameSpace #>.Tables;

namespace <#= _context.NameSpace #>
{
    sealed public partial class Context
    {<#= TableFields.Indent(2) #>

        public Context()
        {<#= TableFieldInitializers.Indent(3) #>
        }
    }
}
<#
// ReSharper disable FieldCanBeMadeReadOnly.Local
#>

