<#@ template language="C#" #>
<#@ import namespace="global::HWClassLibrary.Helper" #>
<# #>
namespace <#= _context.NameSpace #>.Tables
{
    sealed public partial class <#= ClassName #>
    {<#= Fields.Indent(2) #>
    }
}
<#
// ReSharper disable FieldCanBeMadeReadOnly.Local
#>

